<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97669020024-nlhuf09khqp15dp8l7ojvjlpqjusntg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97669020024-nlhuf09khqp15dp8l7ojvjlpqjusntg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDGs8f8nm82FrUVN6Pvrz6jtEP1Lwh91vM</string>
	<key>GCM_SENDER_ID</key>
	<string>97669020024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synergy.fdrGo</string>
	<key>PROJECT_ID</key>
	<string>evercom-synergy-app-tra</string>
	<key>STORAGE_BUCKET</key>
	<string>evercom-synergy-app-tra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97669020024:ios:f8b5b986299200b4</string>
	<key>DATABASE_URL</key>
	<string>https://evercom-synergy-app-tra.firebaseio.com</string>
</dict>
</plist>